@import "../fn";

$name:'vt-content';
.#{$name}{
  position: absolute;
  left: 0;
  top:0;
  z-index: 99999;
  &__over{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
  }
  &__img{
    position: absolute;
    top:0;
    left: 0;
    &--locked{
      @extend .#{$name}__img;
      pointer-events: none;
      .#{$name}__img-outer:before{
        content:normal;
      }
    }
    &-outer{
      cursor: pointer;
      position: absolute;
      user-select: none;
      top: 0;
      left: 0;
      opacity: 0.5;
      transform-origin: 50% 0;
      &:before{
        @include ant-border;
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-image{
      display: block;
      width: 100%;
      position: relative;
    }

  }
  &__rule{
    &-rule--locked{
        pointer-events: none;
    }
    &-degree{
      display: block;
      position: fixed;
      left: 0;
      top:0;
      pointer-events: none;
    }
  }
  &__options{
    position: fixed;
    bottom: 60px;
    left: 60px;
    width: 300px;
  }
}