$name:'c-coordinate';

.#{$name}{
  &__line{
    position: fixed;
    left: 0;
    right: 0;
    pointer-events: none;
    border-right: dashed #333 1px;
    border-bottom: dashed #333 1px;
    z-index: 100;
    &--disabled{
      @extend .#{$name}__line;
      border: none;
    }
  }
  &__pointer{
    position: absolute;
    bottom: -4px;
    right: -15px;
    &-text{
      position: absolute;
      left: 20px;
      top:4px;
      font-size: 10px;
      color:#333;
      background: rgba(255,255,255,0.5);
      padding: 0 4px;
      border-radius: 4px;
    }
    &:before{
      content:'';
      display: block;
      width: 20px;
      height: 20px;
      background: url('../img/pen.svg');
      background-size: 100%;
    }
  }
}

.vt-coordinate-cursor{
  cursor: none;
}